
<div class="header-div">
    <a routerLink="home">
        <img class="main-logo" src="{{siteName}}images/logo-purple.png" />
    </a>
    <search class="search"></search>
</div>
<br />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div *ngIf="isHamburgerClicked" class="show-sidemenu">
        <div class="sidemenu-body">
            <a (click)="showSideMenu(false)" class="navbar-brand"><i class="fa fa-times"></i></a>
            <sidebar (closeHambi)="showSideMenu($event)"></sidebar>
        </div>
    </div>
    <a (click)="showSideMenu(true)" class="navbar-brand navbar-hamburger"><i class="fa fa-bars"></i></a>
    <a routerLink="home" routerLinkActive="menu-active" class="navbar-brand"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
    <a routerLink="books" routerLinkActive="menu-active" class="navbar-brand"><i class="fa fa-book"></i>&nbsp;&nbsp;Books</a>
    <a routerLink="/account" routerLinkActive="menu-active" class="navbar-brand"><i class="fa fa-user"></i>&nbsp;&nbsp;My Account</a>
    <a routerLink="basket" routerLinkActive="menu-active" class="navbar-brand">
        <i class="fa fa-shopping-basket">
            ({{basketNum}})
        </i>&nbsp;&nbsp;Basket
    </a>
    <a routerLink="history" routerLinkActive="menu-active" class="navbar-brand"><i class="fa fa-list"></i>&nbsp;&nbsp;History</a>
</nav>

