
<div class="top-space"></div>
<div class="main-image">
    <span>Welcome!</span>
    <img src="{{siteName}}images/bookstore-location.jpg" />
</div>

<h2>Our Recommendation</h2>
<br />
<carousel></carousel>
<br />
<div class="subscription">
    <span> Join Our Mailing List For Special Offers!</span>
    <input type="text" placeholder=" Email" />
    <button type="button" class="btn btn-sm btn-dark">Subscribe</button>
</div>

<div class="description row">
    <div class="col col-xs">
        <i class="fa fa-plane"></i>
        <span>Free Nationwide Shipping</span>
        <p>Free shipping for all nationwide orders over €20! All orders are shipped via An Post tracked services.</p>
    </div>
    <div class="col col-xs">
        <i class="fa fa-money-bill-wave"></i>
        <span>Money Back Guarantee</span>
        <p>Bought the wrong books? Don't worry! We will refund if you have the receipt and the book is not damaged.</p>
    </div>
    <div class="col col-xs">
        <i class="fa fa-credit-card"></i>
        <span>Secure Online Payment</span>
        <p>All Payments are made through Global Payments Servers. We do not store any Credit Card details.</p>
    </div>
</div>
