
.user-logged {
    padding: 20px;

    span {
        display: block;
        margin-bottom: 10px;
    }
}

.sign-in {
    margin: 20px;

    h2 {
        margin-bottom: 20px;
    }

    label {
        margin-top: 10px;
    }

    button {
        margin-top: 20px;
        margin-left: 0;
    }

    .forgot-pass {
        color: #555;
        font-size: 14px;
        display: block;
        margin-top: 10px;

        &:hover {
            color: #999;
        }
    }
}

.register {
    margin: 20px;
    padding: 20px;
    background-color: #ebebeb;

    h4 {
        margin-bottom: 20px;
    }

    span {
        font-size: 16px;
        display: block;
        margin-bottom: 10px;
    }

    ul {
        font-size: 14px;
        color: #444;
    }

    button {
        margin-left: 0;
    }
}

.logout-btn {
    display: block;
    color: #5f1d2b;
    margin-top: 30px;
    margin-left: 40px;
    border: 1px solid #999;
    padding: 5px 10px;

    &:hover {
        color: #777;
        cursor: pointer;
    }
}
